<div class="schedule-container">
    <h1>Gym Schedule 🏋️‍♂️</h1>
    <div class="day">
        <h2>Day 1: Back Day </h2>
        <ul>
            <li>Seated Rowing: <span>4 sets - 15 reps</span></li>
            <li>Lat Pull Downs (Wide Grip): <span>4 sets - 15 reps</span></li>
            <li>Lat Pull Downs (Narrow Grip): <span>4 sets - 15 reps</span></li>
            <li>Machine Row (Mid Grip): <span>4 sets - 15 reps</span></li>
            <li>T-bar Rows: <span>4 sets - 15 reps</span></li>
            <li>Cable Rows: <span>4 sets - 15 reps</span></li>
        </ul>
        <h2>Day 2: Chest Day 💪</h2>
        <ul>
            <li>Smith Machine - Chest Press: <span>4 sets - 15 reps</span></li>
            <li>Smith Machine - Incline Press: <span>4 sets - 15 reps</span></li>
            <li>Fly using Machine: <span>4 sets - 15 reps</span></li>
            <li>Decline Press: <span>4 sets - 15 reps</span></li>
            <li>Dumble Pull Over: <span>4 sets - 15 reps</span></li>
            <li>Chest Press using Machine: <span>4 sets - 15 reps</span></li>
        </ul>
        <h2>Day 3: Rest Day</h2>
        <h2>Day 4: Shoulders Day 💪</h2>
        <ul>
            <li>Smith Machine Shoulder Press: <span>4 sets - 15 reps</span></li>
            <li>Lateral Raises: <span>4 sets - 15 reps</span></li>
            <li>Front Raise using Cable: <span>4 sets - 15 reps</span></li>
            <li>Should Press using Machine: <span>4 sets - 15 reps</span></li>
            <li>Rear Delts: <span>4 sets - 15 reps</span></li>
            <li>Face Pulls: <span>4 sets - 15 reps</span></li>
            <li>Shrugs: <span>4 sets - 15 reps</span></li>
        </ul>
        <h2>Day 5: Legs Day 💪</h2>
        <ul>
            <li>Seated Rowing: <span>4 sets - 15 reps</span></li>
            <li>Lat Pull Downs (Wide Grip): <span>4 sets - 15 reps</span></li>
            <li>Lat Pull Downs (Narrow Grip): <span>4 sets - 15 reps</span></li>
            <li>Machine Row (Mid Grip): <span>4 sets - 15 reps</span></li>
            <li>T-bar Rows: <span>4 sets - 15 reps</span></li>
            <li>Cable Rows: <span>4 sets - 15 reps</span></li>
        </ul>
        <h2>Day 6: Arms Day 💪</h2>
        <ul>
            <li>Seated Rowing: <span>4 sets - 15 reps</span></li>
            <li>Lat Pull Downs (Wide Grip): <span>4 sets - 15 reps</span></li>
            <li>Lat Pull Downs (Narrow Grip): <span>4 sets - 15 reps</span></li>
            <li>Machine Row (Mid Grip): <span>4 sets - 15 reps</span></li>
            <li>T-bar Rows: <span>4 sets - 15 reps</span></li>
            <li>Cable Rows: <span>4 sets - 15 reps</span></li>
        </ul>
        <h2>Day 7: Rest Day</h2>
        
    </div>
</div>